html{
    background-color: #e6ae54;
}

h1{
    color: red;
}

p{
    column-count: calc(3);
    column-gap: 40px;
    column-rule: 2px solid red;
}

p::selection{
    background-color: blueviolet;
    color:crimson;
}

span:hover{
    color: blue;
}


